<!--
Fullstack/Database Final Sprint
By: Brian Jackman
2024/12/15
-->

<%- include('partials/header') %>

<div class="main-content">
    <h1>Profile</h1>
    <p>Username: <%= user.username %></p>
    <p>Polls Voted In: <%= user.pollsVoted %></p>
</div>